.container{
    text-align:center;
    background:rgb(105, 197, 233);
    overflow:auto;
}
.heading {
    font-weight:bold;
    font-size:24px;
    padding-top:20px;
    padding-bottom:20px;
    background:rgb(6, 6, 170);
    color:white;
}

.box, .score {
    border: 1px black solid;
    margin-top:20px;
    height:200px;
    
}

.boxes {
    margin-left:20px;
    margin-right:20px;
}
#chat-display {
    height: 200px;
    overflow-y: scroll;
    text-align:left;

  }

  .chatbox {
      margin-top:20px;
  }



  #welcome-message {
      padding:55px;
      font-size:20px;
      display:none;
  }

  .card-heading{
      background:rgb(6, 6, 170);
      color:white;
      padding-top:10px;
      padding-bottom:10px;
  }
  .hide {
      visibility:hidden;
  }

  .show{
    visibility:visible;
  }

  .btn-option {
      background:rgb(6, 6, 170);
      color:white;
      box-shadow: 3px 3px 5px white;
      margin-top:20px;
  }

  #player1-name {
      font-size:25px;
  }

.score {
    padding-top:40px;
}
#player1-wins, #player1-losses, #player1-ties {
    padding-top:2px;
    padding-bottom:2px;
    font-size:20px;
}

#player1-choice {
    padding-top:20px;
    font-size:20px;
}
  
