.container{
    text-align:center;
    background:rgb(105, 197, 233);
    overflow:auto;
}
.heading {
    font-weight:bold;
    font-size:24px;
    padding-top:20px;
    padding-bottom:20px;
    background:rgb(6, 6, 170);
    color:white;
}

.box {
    border: 1px black solid;
    margin-top:20px;
    height:200px;
    
}

.boxes {
    margin-left:20px;
    margin-right:20px;
}
#chat-display {
    height: 200px;
    overflow-y: scroll;
    text-align:left;

  }

  .chatbox {
      margin-top:20px;
  }



  #welcome-message {
      padding:55px;
      font-size:20px;
      display:none;
  }
  
